<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title contact
    body
        h1 Contact Us
        form(action="form", method="post")
            p Full Name
            input(type="text", name="name")
            br
            p Subject
            input(type="text", name="subject")
            br
            p Email
            input(type="text", name="email" placeholder="example.com")
            br
            p Message
            textarea(name="msg", cols="30", rows="10")
            br
            button(type="submit") Contact